/* GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background: #1e1e2d;
    color: white;
    padding: 20px;
    transition: transform 0.3s ease;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    padding: 12px;
    color: #ddd;
    text-decoration: none;
    border-radius: 6px;
}

.sidebar a:hover {
    background: #2b2b3b;
}

/* MOBILE HIDE SIDEBAR */
.sidebar.closed {
    transform: translateX(-240px);
}

.hide-and-move {
    animation: slide-out-fade 0.5s forwards;
}

.show-and-move {
    animation: slide-in-fade 0.5s forwards;
}

@keyframes slide-out-fade {
    0% {
        width: 240px;
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        padding: 0px;
        width: 0;
        opacity: 0;
        transform: translateX(-240px);
        display: none;
    }
}

@keyframes slide-in-fade {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        display: block;
    }
}

.topbar {
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
}

.content {
    flex: 1;
    overflow-y: auto;
    background: #f6f6f9;
    padding: 20px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.menu-btn {
    display: block;
    font-size: 24px;
    cursor: pointer;
}

.menu-btn-mob {
    display: none;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .menu-btn {
        display: block;
    }

    .menu-btn-mob {
        display: block;
    }

    .sidebar {
        position: fixed;
        height: 100vh;
        z-index: 999;
        top: 0;
        left: 0;
    }

    .content {
        padding-top: 20px;
    }
}
